@import "settings.scss";

@keyframes expand {
  0% {
    width: 0;
  }
  100% {
    width: 30vw;
  }
}

@keyframes contract {
  0% {
    width:30vw;
  }
  100% {
    width:0;
  }
}

.panel {
  margin: 0;
  height: 100%;

  border-right: 1px solid $ui-subtle;
  color: $text-dark;

  overflow-x: hidden;

  & .panel-header {
    height: 80px;
    width: calc(100% - 60px);
    padding: 0 30px;
    line-height: 100px;
    font-size: 30px;
    border-bottom: 1px solid $ui-subtle;
    .dark & {
      border-color: $ui-dark-subtle;
    }
    &.subheader {
      border:none;
      height:40px;
      line-height:50px;
      font-size:20px;
    }
  }
  
  &.side-panel {
    width:0;
    animation:contract .2s ease-in-out 1;
    & .side-panel-inner {
      width: 30vw;
      
      & .side-panel-p {
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
      }

    }
    &.side-panel-visible {
      width:30vw;
      animation:expand 0.2s ease-in-out 1;
    }
  }

  &.main-panel {
    flex: 1;
  }

  &.control-bar {
    width:80px;
    background:$contrast;
    border:none;

    .dark & {
      background:$contrast-dark;
    }

    & .control-item {
      height: 50px;
      line-height: 60px;
      text-align:center;
      width:50px;
      border-radius:50%;
      border:2px solid $ui-subtle;
      font-size:30px;
      color:$text-light;
      cursor:pointer;
      transition:opacity .1s ease-in;
      &:hover {
        opacity:0.5;
      }
    }
  }

  .dark & {
    color: $text-light;
    border-color: $ui-dark-subtle;
  }
}

.data-container {
  margin:0;
  padding:5px 15px;
  width:calc(100% - 30px);
  background: rgb(31, 32, 56);
  color: rgb(61, 233, 181);
  border-radius: 0px;
  .dark & {
    background: rgb(16, 18, 26);
    color: rgb(65, 253, 149);
  }
  & > pre {
    font-family: OverpassMono;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    padding-right:17px;
  }
}

.edit-space {
  position:relative;
  width:100vh;
  height:100vh;
}

.visual {
  position:absolute;
  background:rgb(14, 14, 14);
  height:300px;
  width:400px;
  border-radius:5px;
  top:20%;
  left:20%;
  color:#fff;
  font-size:40px;
  text-align:center;
  line-height:300px;
  cursor:pointer;
}