@import "settings.scss";

$control-bar-width: 4rem;

@keyframes expandSidebar {
  0% {
    left: $control-bar-width;
  }
  100% {
    left: -30vw;
  }
}

@keyframes contractSidebar {
  0% {
    left: -30vw;
  }
  100% {
    left: $control-bar-width;
  }
}

.panel {
  margin: 0;
  height: calc(100vh - #{$nav-height});

  //border-right: 1px solid $ui-subtle;
  color: $text-dark;

  overflow-x: hidden;

  .panel-header {
    width: calc(100%);
    padding: $standard-gutter;
    padding-bottom: 0.5rem;

    font-size: 2rem;
    border-bottom: 1px solid $ui-subtle;
    .dark & {
      border-color: $ui-dark-subtle;
    }

    .subtle {
      margin-left: 0.5rem;

      font-weight: lighter;
      font-size: 1.2rem;
      color: lighten($text-subtle, 20%);
    }

    .right {
      position: absolute;
      right: $standard-gutter;
    }
  }
  
  &.blur {
    filter:blur(4px);
  }

  &.side-panel {
    position: fixed;
    left: $control-bar-width;
    width: 30vw;

    z-index: 1;
    background-color: $ui-light;
    box-shadow: 0 0 50px -14px $shadow-color;

    animation: contractSidebar .2s ease-in-out 1;
    .side-panel-inner {
      .side-panel-p {
        padding: 1rem;
        text-align: center;
      }

      .card {
        padding: 0;
      }

      .data-container {
        &.closed {
          display: none;
        }

        width: 100%;

        background: rgb(31, 32, 56);
        color: rgb(61, 233, 181);
        .dark & {
          background: rgb(16, 18, 26);
          color: rgb(65, 253, 149);
        }

        & > pre {
          padding: 1rem;
          margin: 0; // TODO: Something weird is happening with the margins around here and this is a hacky sort of fix.
          font-family: OverpassMono;
          white-space: pre-wrap;
          word-wrap: break-word;
          font-size: 14px;
        }
      }
    }

    &.side-panel-visible {
      left: -30vw;
      animation: expandSidebar 0.2s ease-in-out 1;
    }

    .dark & {
      background:$ui-dark;
    }
  }

  &.main-panel {
    flex: 1;
  }

  &.control-bar {
    z-index: 2;
    width: $control-bar-width;
    background: $contrast;
    border: none;

    margin-left:-1px;

    .dark & {
      background: $contrast-dark;
    }

    .control-item {
      box-sizing: border-box; // Align border with border of header
      height: $control-bar-width;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      font-size: $control-bar-width / 2;
      color: $text-light;
      cursor: pointer;
      transition: .1s ease-in;
      &:hover {
        background-color: lighten($contrast, 5%); // Make it slightly lighter
      }
      &:first-of-type {
        border-bottom: 1px solid $ui-subtle;
      }
      &.delete {
        &:hover {
          background-color: $error;
        }
      }
    }
  }

  .dark & {
    color: $text-light;
    border-color: $ui-dark-subtle;
  }
}

.edit-space {
  position:relative;
  width:200vh;
  height:300vh;
}

.visual {
  position:absolute;
  background:rgb(14, 14, 14);
  height:300px;
  width:400px;
  border-radius:5px;
  top:100px;
  left:100px;
  color:#fff;
  font-size:40px;
  text-align:center;
  line-height:300px;
  cursor:pointer;
}

@keyframes grow {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

.dialogue-container {
  position:fixed;
  z-index:1000;
  top:0;
  left:0;
  height:calc(100vh - #{$nav-height});
  width:100vw;
  margin:0;
  padding:0;
  background:rgba(22, 22, 22, 0.712);
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;

  .dialogue {
    display:flex;
    flex-direction: column;
    align-items:stretch;
    width:30em;
    padding:50px;
    border-radius:5px;
    animation:grow .15s ease-in-out 1;
    box-shadow: 2px 5px 30px 0px rgba(0,0,0,0.75);
    background:rgb(247, 247, 247);
    .dark & {
      background:rgb(20, 19, 24);
    }
    .dialogue-message {
      line-height:2rem;
      font-size:1.8rem;
      text-align:center;
      color:$text-dark;
      .dark & {
        color:$text-light;
      }
    }
    .dialogue-button-container {
      margin-top:15px;
      height:3rem;
      display:flex;
      flex-direction: row;
      gap:10px;
      align-items:stretch;
      .dialogue-button {
        flex:1;
        font-size:1.2rem;
        transition:.1s ease-in-out;
        cursor:pointer;
        background:rgb(126, 126, 126);
        border-radius:5px;
        line-height:3rem;
        text-align:center;
        color:#fff;
        .dark & {
          color:#000;
          background:rgb(134, 134, 134);
        }
        &.confirm:hover {
          background:rgb(59, 88, 252)
        }
        &.deny:hover {
          background:rgb(255, 69, 69);
        }
      }
    }
  }
}