@import 'settings.scss';

div.login {
  border-right: 2px solid $contrast;
  .dark & {
    border-right: 2px solid $contrast-dark;
  }
}

div.login-header, div.register-header {
  height: 10vh;
  line-height: 10vh;
  text-align: center;
}

div.login-input-container {
  display:flex;
  flex:1;
  justify-content: center;
  padding:0 50px;
  .name-row {
    gap:1em;
  }
}

div.login-submit-container {
  height: 100px;
  
  @media only screen and (max-height: $medium-height) {
  }
}

div.login-error {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: $error;

  .dark & {
    color: $error-dark;
  }

  @media only screen and (max-height: $medium-height) {
    height: 40px;
    line-height: 40px;
    margin-top: 0;
  }
}