@import 'settings.scss';

.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 60vw;
  border-radius: 10px;
  box-shadow: 0px 7px 32px -23px rgba(0,0,0,0.75);
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  background: $ui-light;

  .dark & {
      background: $ui-dark;
  }
}

div.login, div.register {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

div.login {
  border-right: 1px solid $primary;
  .dark & {
    border-right: 1px solid $text-light;
  }
}

div.login-header, div.register-header {
  height: 10vh;
  line-height: 10vh;
  font-size: 22px;
  text-align: center;
  .dark & {
    color: $text-light;
  }
}

div.login-input-container {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

div.login-input-label {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.login-input-label-inner {
  height: 35px;
  line-height: 40px;
  width: 60%;
  text-align: left;
  color: rgb(70, 70, 70);
  .dark & {
    color: rgb(146, 146, 146);
  }
}

div.login-input-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

div.login-input-item input {
  height: 30px;
  line-height: 30px;
  width: 60%;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
  text-align: left;
  padding :0 15px;
  font-family: Syne, sans-serif;
  font-size: 16px;
  transition: border .1s ease-in-out;
  background: none;
  .dark & {
    border: 1px solid rgb(129, 129, 129);
    color: $ui-light;
  }
}

div.login-input-item input:focus {
  border: 1px solid rgb(112, 112, 112);
  .dark & {
    border:1px solid rgb(187, 187, 187);
  }
}

div.login-submit-container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.login-submit-button,
div.register-submit-button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

div.login-submit-button {
  color: $primary;
  border: 1px solid $primary;
}

div.register-submit-button {
  color: $success;
  border: 1px solid $success;
}

div.login-submit-button:hover {
  background: $primary;
  color: $ui-light;
}

div.register-submit-button:hover {
  background: $success;
  color: $ui-light;
}

div.login-error {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: rgb(255, 108, 108);
}

// TODO: Fix these later.  Eventually we need to have a consistent button style so we don't have to do this.
.dark div.login-submit-button {
  color: rgb(149, 172, 248);
  border: 1px solid rgb(149, 172, 248);
}

.dark div.register-submit-button {
  color: rgb(163, 255, 191);
  border: 1px solid rgb(163, 255, 191);
}

.dark div.login-submit-button:hover {
  background: rgb(149, 172, 248);
  color: rgb(0, 0, 0);
}

.dark div.register-submit-button:hover {
  background: rgb(163, 255, 191);
  color: rgb(20, 20, 20);
}

@media only screen and (max-height: 850px) {
  div.login-input-label {
    height: 25px;
    font-size: 14px;
  }

  div.login-input-label-inner {
    height: 25px;
    line-height: 30px;
    width: 70%;
  }

  div.login-input-item input {
    height: 25px;
    line-height: 25px;
    width: 70%;
  }

  div.login-submit-container {
    margin-top: auto;
  }

  div.login-submit-button,
  div.register-submit-button {
    height: 30px;
    line-height: 30px;
    width: 100px;
    font-size: 14px;
  }

  div.login-error {
    height: 40px;
    line-height: 40px;
    margin-top: 0;
  }

}
