@import 'settings.scss';

.favorites {
  display: flex;
}

.favorites-link {
  margin-left: auto;
  font-size: 1rem;
  align-self: center;
}


.preview {
  width: 100%;
  box-sizing: border-box;
}


.profile-header {
  display: flex;
  .left {
    border-right: 0.2px solid $contrast;
    padding-right: $standard-gutter;
  }
  .right {
    padding-left: $standard-gutter;
  }
}

.profile-picture {
  border-radius: 0.5rem;
}
