@import 'settings.scss';

.profile-outer {
    position:fixed;
    height:100vh;
    width:100vw;
    background: $ui-light;
    top:0;
    left:0;
    transform:translateY(80px);
    
    .dark & {
        background: $ui-dark;
    }
}