
///////// COLORS ///////////////////////////////////////////////////////////////
// Light and dark colors for backgrounds and UI components and such
$ui-light: rgb(255, 255, 255);
$ui-subtle: rgb(211, 211, 211);
$ui-dark: rgb(46, 45, 49);
$ui-dark-subtle: rgb(77, 77, 77);

$text-light: rgb(255, 255, 255);
$text-subtle:rgb(71, 71, 71);
$text-dark: rgb(0, 0, 0);
$text-dark-subtle:rgb(196, 196, 196);

$primary: rgb(77, 102, 182);

$contrast: rgb(137, 156, 243);
$contrast-dark: rgb(27, 27, 27);

$default: rgb(110, 101, 236);
$default-dark: rgb(168, 167, 255);

$success: rgb(77, 182, 108);
$success-dark: rgb(158, 253, 201);

$active: rgb(157, 131, 250);
$active-dark: rgb(205, 191, 255);

$error: rgb(255, 108, 108);
$error-dark: rgb(255, 130, 130);

$shadow-color: rgba(0,0,0,0.75);


///////// SIZES ////////////////////////////////////////////////////////////////
$standard-gutter: 1rem;

$nav-height: 5rem; // Height of the navbar

$medium-height: 850px;
