
///////// COLORS ///////////////////////////////////////////////////////////////
// Light and dark colors for backgrounds and UI components and such
$ui-light: rgb(255, 255, 255);
$ui-dark: rgb(46, 45, 49);

// $background-light: rgb(255, 255, 255);
// $background-dark: rgb(39, 39, 39);

$text-light: rgb(255, 255, 255);
$text-dark: rgb(0, 0, 0);

$primary: rgb(77, 102, 182);

$success: rgb(77, 182, 108);
